= form_for @furrow do |f|
  = error_messages_for @furrow, {:header_message => nil, :message => nil}

  %fieldset
    .clearfix
      = f.label 'action', 'I want to'
      .input
        = f.select 'action', [['unfollow', 'unfollow'], ['follow', 'follow']]


    .clearfix
      = f.fields_for @furrow.seed_user do |suf|
        = suf.label :nickname, 'the Twitter user'
        .input
          = suf.text_field :nickname, :size => 15, :limit => 15

    .clearfix 
      = f.label :duration, 'for'
      .input
        = f.text_field :duration, :size => 2, :limit => 2
        %span.help-inline days

  = submit_tag 'Create', :style => 'display: none;'
